
/* vars */

 $bgColor: #10AFAF;
 $title-font: 'Roboto',sans-serif;


.container-solucion{
    background-color: $bgColor;

                & .titulo-solucion{
                        background-color: $bgColor;
                        font-family: $title-font;
                        font-weight: 900;
                        text-align: center;
                        color: white;
                        padding-top: 20px;
            }
    }

    .container-form{

        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0 auto;

        @media screen {

            min-width: 200px;
            max-width: 300px;
            
        }

        &  .boton-form {
            padding-top: 20px !important;
            padding-bottom: 30px !important; 
        }
    }

    .container-form-2{
        padding: 40px;
        margin: 0 auto;

        @media screen {

            min-width: 400px;
            max-width: 700px;
            
        }

        &  .boton-form {
            padding-top: 20px !important;
            padding-bottom: 30px !important; 
        }
    }

    img .ventaja-icon{

        padding: 40px;
        
    }

    .container-pulsera-tel{
        display: flex;
        max-width: 1200px;
        width: 100%;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;


        & .img-tel{
            width: auto;
            height: 400px;
        }

        & .img-pul{
            width: auto;
            height: 300px;

        }
    }

    .titulo-solucion:hover{
        transform: translate((0px,-15px));
        transition: all 2s;
        
    }

    .titulo-principal:hover{
        transform: translate((0px,-15px));
        transition: all 2s;
        
    }